
<div class="bg-creme py-2 px-4 rounded-md shadow-lila-deep mb-4 mt-2">
  <h2 class="text-xl my-2">Besoin de recettes simples et délicieuses ? </h2>
  <p class="text-base">Découvrez CookItEasy et partagez vos recettes !</p>
  <%= image_tag "me-cooks.png", class:"-mb-4"%>
</div>


<%= link_to "Toutes les recettes", recipes_path, class:"px-4 py-2 rounded-full bg-lila-deep"  %>

<%= render 'shared/menubar' %>
