<h2 class="text-lg">Besoin de recettes simples et délicieuses ? </h2>
<p>Découvrez CookItEasy et partagez vos recettes !</p>


<%= link_to "Toutes les recettes", recipies_path, class:"px-4 py-2 rounded-full bg-lila-deep"  %>
